<?xml version="1.0" encoding="utf-8"?>

<log4net>
  <appender name="WServerLog" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%env{ServerLogFolder}/world.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="30" />
    <maximumFileSize value="15MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{HH:mm:ss,fff} %-5level %-10.10property{ServerName} %-15.15logger{1} %m%n" />
    </layout>
  </appender>
  <appender name="AppEngineLog" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%env{ServerLogFolder}/app.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="30" />
    <maximumFileSize value="15MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{HH:mm:ss,fff} %-5level %-15.15logger{1} %m%n" />
    </layout>
  </appender>
  <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%env{ServerLogFolder}/error.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="15MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{HH:mm:ss,fff} %-5level %-10.10property{ServerName} %-15.15logger{1} %m%n" />
    </layout>
  </appender>
  <appender name="PassLog" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%env{ServerLogFolder}/pass.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %message%newline" />
    </layout>
  </appender>
  <appender name="CheatLog" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%env{ServerLogFolder}/cheat.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %message%newline" />
    </layout>
  </appender>
  <appender name="RankManagerLog" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%env{ServerLogFolder}/rankManager.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %message%newline" />
    </layout>
  </appender>
  <appender name="NameChangeLog" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%env{ServerLogFolder}/nameChange.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %message%newline" />
    </layout>
  </appender>
  
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{HH:mm:ss,fff} %-5level %-10.10property{ServerName} %-15.15logger{1} %m%n" />
    </layout>
  </appender>
  
  <root>
    <level value="INFO" />
    <appender-ref ref="ConsoleAppender" />
  </root>
  <logger additivity="false" name="WServerLog">
    <level value="INFO" />
    <appender-ref ref="WServerLog" />
  </logger>
  <logger additivity="false" name="AppEngineLog">
    <level value="INFO" />
    <appender-ref ref="AppEngineLog" />
  </logger>
  <logger additivity="false" name="ErrorLog">
    <level value="INFO" />
    <appender-ref ref="ErrorLog" />
  </logger>
  <logger additivity="false" name="PassLog">
    <level value="INFO" />
    <appender-ref ref="PassLog" />
  </logger>
  <logger additivity="false" name="CheatLog">
    <level value="INFO" />
    <appender-ref ref="CheatLog" />
  </logger>
  <logger additivity="false" name="RankManagerLog">
    <level value="INFO" />
    <appender-ref ref="RankManagerLog" />
  </logger>
  <logger additivity="false" name="NameChangeLog">
    <level value="INFO" />
    <appender-ref ref="NameChangeLog" />
  </logger>
</log4net>
