<?xml version="1.0" encoding="utf-8"?>

<log4net>
  <appender name="RemotingAppender" type="log4net.Appender.RemotingAppender" >
    <sink value="tcp://localhost:8085/LoggingSink" />
    <lossy value="false" />
    <bufferSize value="1" />
    <onlyFixPartialEventData value="true" />
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{HH:mm:ss,fff} %-5level %-15.15logger{1} %m%n" />
    </layout>
  </appender>
  <appender name="ColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
    <mapping>
      <level value="ERROR" />
      <foreColor value="White" />
      <backColor value="Red" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{HH:mm:ss,fff} %-5level %-15.15logger{1} %m%n" />
    </layout>
  </appender>
  <root>
    <level value="INFO" />
    <appender-ref ref="ColoredConsoleAppender" />
    <appender-ref ref="RemotingAppender" />
  </root>
  <logger additivity="false" name="PassLog">
    <level value="INFO" />
    <appender-ref ref="RemotingAppender" />
  </logger>
  <logger additivity="false" name="CheatLog">
    <level value="ALL" />
    <appender-ref ref="RemotingAppender" />
  </logger>
  <logger additivity="false" name="RankManagerLog">
    <level value="ALL" />
    <appender-ref ref="RemotingAppender" />
  </logger>
  <logger additivity="false" name="NameChangeLog">
    <level value="ALL" />
    <appender-ref ref="RemotingAppender" />
  </logger>
</log4net>
